{% extends 'layout.html' %}

{% block content %}
<div>
  <li><a href={{ url_for('main.index')}}>Home</a></li>
</div>
  <span>This is login page</span>
  <div>
    <form method='POST' action='/auth/session'>
      {{ loginform.csrf_token }}
      {{ loginform.email(placeholder='email') }}
        {% if  loginform.email.errors %}
          {% for error in loginform.email.errors %}
            {{ error }}
          {% endfor %}
        {% endif %}
      {{ loginform.password(placeholder='password') }}
      {{ loginform.submit }}
    </form>
  </div>
{% endblock %}